{%- if include.sponsor == "organization" -%}
  <div class="logo">
    <a href="https://www.lge.co.kr/company/main">
      <img style="height: 2.0em" src="/assets/sponsor-logo/lge.png" alt="LG전자" />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.mobis.com/kr/index.do">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/Hyundai_Mobis.png"
        alt="현대모비스"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.jumptrading.com/">
      <img
        style="height: 2.0em"
        src="/assets/sponsor-logo/Jump_Trading.jpg"
        alt="Jump Trading LLC"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.furiosa.ai/">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/Furiosa_AI.svg"
        alt="FuriosaAI"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.krewcapital.com/">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/krew.png"
        alt="Krew Capital"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://company.nexon.com/ko/">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/Nexon.svg"
        alt="넥슨 코리아"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.hudsonrivertrading.com/">
      <img style="height: 2.0em" src="/assets/sponsor-logo/HRT.png" alt="HRT" />
    </a>
  </div>

  <div class="logo">
    <a href="https://channel.io/ko">
      <img
        style="height: 1.8em"
        src="/assets/sponsor-logo/channelTalk.png"
        alt="채널코퍼레이션"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.janestreet.com/">
      <img
        style="height: 2.0em"
        src="/assets/sponsor-logo/janestreet.png"
        alt="Jane Street"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.moloco.com">
      <img
        style="height: 3.0em"
        src="/assets/sponsor-logo/moloco.png"
        alt="MOLOCO"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.codetree.ai/ko/trail-info">
      <img
        style="height: 1.0em"
        src="/assets/sponsor-logo/Codetree.png"
        alt="코드트리"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://www.hyundai-autoever.com/">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/Hyundai_AutoEver.png"
        alt="현대오토에버"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://infossm.github.io/about/">
      <img
        style="height: 2.0em"
        src="/assets/sponsor-logo/samsung_sm.png"
        alt="삼성소프트웨어멤버십"
      />
    </a>
  </div>

  <div class="logo">
    <a href="https://startlink.io/">
      <img
        style="height: 1.6em"
        src="/assets/sponsor-logo/startlink.png"
        alt="스타트링크"
      />
    </a>
  </div>
{%- elsif include.sponsor == "individual" -%}
  <div class="logo">
    <div style="height: 1.8em">
      <a href="https://justicehui.github.io/">나정휘 (jhnah917)</a>
    </div>
  </div>

  <div class="logo">
    <div style="height: 1.8em">
      <a href="https://www.gravekper.kr/">정재헌 (gravekper)</a>
    </div>
  </div>
{%- endif -%}
